body {
    background-image: url(image/baggrund.jpg); 
    background-size: 100vw auto;
    background-repeat: unset;
}

nav {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr 3fr;
    grid-template-rows: 1fr;
    background-image: url(image/nav.jpg);
    border-style: solid;
    padding-right: none;
    padding: 30px;
    font-size: 30px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: solid;
}

a:link {
    color: green; 
    background-color: transparent; 
    text-decoration: none;
}
        
main {
    width: 50%;
    background-image: url(image/section.jpg);
    position: auto;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    border-width: 3px;
    margin: auto;
}
     
h1 {
    letter-spacing: 2px;
    margin: 20px;
    padding: 25px;
}

h2 {
    letter-spacing: 2px;
    margin: 20px;
    padding: 25px;
}

h3 {
    letter-spacing: 2px;
    margin: 20px;
    padding: 25px;
}

p {
    letter-spacing: 2px;
    margin: 10px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

ul {
    letter-spacing: 2px;
    margin: 20px;
    padding: 25px;
    list-style-type: square;
    list-style-position: inside;
    list-style-type: none;
}

a:link, a:visited {
    background-color: green;
    color: white;
    padding: 30px 50px;
    text-align: center;
    text-decoration: bold;
    font-family: fantasy;
    font-size: 30px;
    display: inline-block;
    margin: 20px
}
  
a:hover, a:active {
    background-color: blue;
}

footer {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 1fr;
    color: white;
    font-size: 30px;
    background-image: url(image/footer.jpg);
    align-items: center;
    text-align: center;
}