main {
    width: 50%;
    background-image: url(image/section.jpg);
    position: auto;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    border-width: 3px;
    margin: auto;
}
     
ul {
    letter-spacing: 2px;
    margin: 20px;
    padding: 25px;
    list-style-type: square;
    list-style-position: inside;
    list-style-type: none;
}
